<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="./style.css" />
    <div>
      <link href="./index.css" rel="stylesheet" />

      <div class="order-complete-container">
        <div class="order-complete-order-complete">
          <div class="order-complete-navigation-bar">
            <div class="order-complete-logo">
              <span class="order-complete-text">
                <span class="order-complete-text01">3legant</span>
                <span>.</span>
              </span>
            </div>
            <div class="order-complete-elements-navigation-link-group">
              <div class="order-complete-elements-navigation-link">
                <button class="order-complete-button">
                  <div class="order-complete-content">
                    <span class="order-complete-text03 ButtonXSmall">
                      <span>Home</span>
                    </span>
                  </div>
                </button>
              </div>
              <div class="order-complete-elements-navigation-link1">
                <button class="order-complete-button1">
                  <div class="order-complete-content1">
                    <span class="order-complete-text05 ButtonXSmall">
                      <span>Stores</span>
                    </span>
                  </div>
                </button>
              </div>
              <div class="order-complete-elements-navigation-link2">
                <button class="order-complete-button2">
                  <div class="order-complete-content2">
                    <span class="order-complete-text07 ButtonXSmall">
                      <span>Product</span>
                    </span>
                  </div>
                </button>
              </div>
              <div class="order-complete-elements-navigation-link3">
                <button class="order-complete-button3">
                  <div class="order-complete-content3">
                    <span class="order-complete-text09 ButtonXSmall">
                      <span>Contact Us</span>
                    </span>
                  </div>
                </button>
              </div>
            </div>
            <div class="order-complete-icons">
              <img
                src="public/external/interfaceoutlinesearch02i152-uj86.svg"
                alt="interfaceoutlinesearch02I152"
                class="order-complete-interfaceoutlinesearch02"
              />
              <img
                src="public/external/interfaceoutlineusercirclei152-s9t.svg"
                alt="interfaceoutlineusercircleI152"
                class="order-complete-interfaceoutlineusercircle"
              />
              <button class="order-complete-elements-navigation-cart-button">
                <div class="order-complete-frame3">
                  <img
                    src="public/external/ellipse1i152-zxwg-200h.png"
                    alt="Ellipse1I152"
                    class="order-complete-ellipse1"
                  />
                  <span class="order-complete-text11">2</span>
                </div>
                <img
                  src="public/external/outlineshoppingbagi152-2b7x.svg"
                  alt="outlineshoppingbagI152"
                  class="order-complete-outlineshoppingbag"
                />
              </button>
            </div>
          </div>
          <div class="order-complete-complete">
            <div class="order-complete-title">
              <span class="order-complete-text12 Headline3">
                <span>Complete!</span>
              </span>
              <div class="order-complete-process">
                <div class="order-complete-process1">
                  <div class="order-complete-frame75">
                    <div class="order-complete-frame73">
                      <img
                        src="public/external/iconschecklinei152-7fap.svg"
                        alt="iconsCheckLineI152"
                        class="order-complete-icons-check-line"
                      />
                    </div>
                    <span class="order-complete-text14 Body2(Semi)">
                      <span>Shopping cart</span>
                    </span>
                  </div>
                </div>
                <div class="order-complete-process2">
                  <div class="order-complete-frame751">
                    <div class="order-complete-frame731">
                      <img
                        src="public/external/iconschecklinei152-s19b.svg"
                        alt="iconsCheckLineI152"
                        class="order-complete-icons-check-line1"
                      />
                    </div>
                    <span class="order-complete-text16 Body2(Semi)">
                      <span>Checkout details</span>
                    </span>
                  </div>
                </div>
                <div class="order-complete-process3">
                  <div class="order-complete-frame752">
                    <div class="order-complete-frame732">
                      <span class="order-complete-text18">3</span>
                    </div>
                    <span class="order-complete-text19 Body2(Semi)">
                      <span>Order complete</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="order-complete-ordercomplete">
              <div class="order-complete-title1">
                <span class="order-complete-text21 Headline6">
                  <span>Thank you! 🎉</span>
                </span>
                <span class="order-complete-text23 Headline4">
                  <span>Your order has been received</span>
                </span>
              </div>
              <div class="order-complete-item">
                <div class="order-complete-placeholder">
                  <div class="order-complete-image-placeholder">
                    <img
                      src="public/external/pasteimagei152-vuq-200w.png"
                      alt="PasteimageI152"
                      class="order-complete-pasteimage"
                    />
                  </div>
                  <div class="order-complete-number">
                    <span class="order-complete-text25">2</span>
                  </div>
                </div>
                <div class="order-complete-placeholder1">
                  <div class="order-complete-image-placeholder1">
                    <img
                      src="public/external/pasteimagei152-rut8-200w.png"
                      alt="PasteimageI152"
                      class="order-complete-pasteimage1"
                    />
                  </div>
                  <div class="order-complete-number1">
                    <span class="order-complete-text26">2</span>
                  </div>
                </div>
                <div class="order-complete-placeholder2">
                  <div class="order-complete-image-placeholder2">
                    <img
                      src="public/external/pasteimagei152-3m08-200w.png"
                      alt="PasteimageI152"
                      class="order-complete-pasteimage2"
                    />
                  </div>
                  <div class="order-complete-number2">
                    <span class="order-complete-text27">1</span>
                  </div>
                </div>
              </div>
              <div class="order-complete-orderdetail">
                <div class="order-complete-title2">
                  <div class="order-complete-title3">
                    <span class="order-complete-text28 Caption1(Semi)">
                      <span>Order code:</span>
                    </span>
                  </div>
                  <div class="order-complete-title4">
                    <span class="order-complete-text30 Caption1(Semi)">
                      <span>Date:</span>
                    </span>
                  </div>
                  <div class="order-complete-title5">
                    <span class="order-complete-text32 Caption1(Semi)">
                      <span>Total:</span>
                    </span>
                  </div>
                  <div class="order-complete-title6">
                    <span class="order-complete-text34 Caption1(Semi)">
                      <span>Payment method:</span>
                    </span>
                  </div>
                </div>
                <div class="order-complete-info">
                  <span class="order-complete-text36 Caption1(Semi)">
                    <span>#0123_45678</span>
                  </span>
                  <span class="order-complete-text38 Caption1(Semi)">
                    <span>Jan 14, 2024</span>
                  </span>
                  <span class="order-complete-text40 Caption1(Semi)">
                    <span>₹385.00</span>
                  </span>
                  <span class="order-complete-text42 Caption1(Semi)">
                    <span>Credit Card</span>
                  </span>
                </div>
              </div>
              <button class="order-complete-button4">
                <span class="order-complete-text44 ButtonS">
                  <span>Purchase history</span>
                </span>
              </button>
            </div>
          </div>
          <div class="order-complete-footer">
            <div class="order-complete-footercontent">
              <div class="order-complete-logoandlinks">
                <div class="order-complete-logoandslogan">
                  <div class="order-complete-logo1">
                    <span class="order-complete-text46">
                      <span class="order-complete-text47">3legant</span>
                      <span>.</span>
                    </span>
                  </div>
                  <img
                    src="public/external/rectangle319i152-7n8c-200w.png"
                    alt="Rectangle319I152"
                    class="order-complete-rectangle319"
                  />
                  <span class="order-complete-text49 Caption1">
                    <span>Campus delivery system</span>
                  </span>
                </div>
                <div class="order-complete-nav">
                  <span class="order-complete-text51 Caption1">
                    <span>Home</span>
                  </span>
                  <span class="order-complete-text53 Caption1">
                    <span>Stores</span>
                  </span>
                  <span class="order-complete-text55 Caption1">
                    <span>Product</span>
                  </span>
                  <span class="order-complete-text57 Caption1">
                    <span>Contact Us</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="order-complete-bottombar">
              <div class="order-complete-copyright">
                <span class="order-complete-text59 Caption2">
                  <span>Copyright © 2023 3legant. All rights reserved</span>
                </span>
                <span class="order-complete-text61 Caption2(Bold)">
                  <span>Privacy Policy</span>
                </span>
                <span class="order-complete-text63 Caption2(Bold)">
                  <span>Terms of Use</span>
                </span>
              </div>
              <div class="order-complete-socialicon">
                <div class="order-complete-socialoutlineinstagram">
                  <img
                    src="public/external/vectori152-4gap-200h.png"
                    alt="VectorI152"
                    class="order-complete-vector"
                  />
                  <img
                    src="public/external/vectori152-54s-200h.png"
                    alt="VectorI152"
                    class="order-complete-vector1"
                  />
                  <img
                    src="public/external/vectori152-qvms-200h.png"
                    alt="VectorI152"
                    class="order-complete-vector2"
                  />
                </div>
                <img
                  src="public/external/socialoutlinefacebooki152-4xhs.svg"
                  alt="socialoutlinefacebookI152"
                  class="order-complete-socialoutlinefacebook"
                />
                <div class="order-complete-socialoutlineyoutube">
                  <img
                    src="public/external/rectangle1083i152-if2i-200h.png"
                    alt="Rectangle1083I152"
                    class="order-complete-rectangle1083"
                  />
                  <img
                    src="public/external/vector2900i152-9lu.svg"
                    alt="Vector2900I152"
                    class="order-complete-vector2900"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
