{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stores</title>
    <link rel="stylesheet" href="{% static 'css/store.css' %}" />
  </head>
  <body>
    <!-- Navigation bar -->
    <div class="navigation-bar">
      <div class="logo">
        <span class="logotext"> 3legant </span>
      </div>
      <div class="nav-link">
        <a href="/" class="elements">Home</a>
        <a href="" class="elements">Stores</a>
        <a href="contactus" class="elements">Contact Us</a>
      </div>
      <div class="icons">
        <a href="account"><img src="{% static 'assets/account.svg' %}" /></a>
        <div>
          <a href="cart"><img src="{% static 'assets/cart.svg' %}" /></a>
          <div class="outer"></div>
        </div>
        <div class="ellipse" id="count"></div>
      </div>
    </div>
    <!-- Navigation bar -->

    <!-- header -->
    <div class="pageheader">
      <div class="imageplaceholder">
        <img
          src="{% static 'assets/images/istockphoto-922783734-612x612.jpg' %}"
          class="storeimg"
        />
      </div>
      <div class="title">
        <span class="titletxt">Store Page</span>
      </div>
    </div>

    <!-- header -->

    <!-- product -->
    <div class="products">
      <div class="sidebar"></div>
      <div class="grids" id="shop"></div>
    </div>

    <!-- product -->

    <!-- footer -->
    <footer>
      <div class="footer-content">
        <div class="logo-link">
          <div class="logo-slogan">
            <span class="logo">3legant.</span>
            <span class="rectangle">|</span>
            <span class="slogan">Campus delivery system</span>
            <div class="nav">
              <a href="/" class="navelements">Home</a>
              <a href="" class="navelements">Stores</a>
              <a href="contactus" class="navelements">ContactUs</a>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-bar">
        <div class="copyright">
          <span class="light"
            >Copyright © 2023 3legant. All rights reserved</span
          >
          <span>Privacy Policy</span>
          <span>Terms of Use</span>
        </div>
        <div class="icons">
          <img src="{% static 'assets/facebook.svg' %}" />
          <img src="{% static 'assets/instagram.svg' %}" />
          <img src="{% static 'assets/youtube.svg' %}" />
        </div>
      </div>
    </footer>

    <!-- footer -->
    <script src="{% static 'js/data.js' %}"></script>
    <script src="{% static 'js/store.js' %}"></script>
  </body>
</html>
